header {
    display: flex;
    justify-content: space-between;
    padding: 0 2% 0 4%;
    border-bottom: 2px solid #e3e5e8;
    color: #232d42;

    h3 {
        font-weight: 500;
    }

    i {
        align-self: center;
        cursor: pointer;
    }
}

form {
    display: flex;
    gap: 4%;
    flex-wrap: wrap;
    padding: 1% 4%;
    color: #232d42;
    font-size: 11px;
    font-weight: 500;
    height: 60%;
    overflow: auto;

    button {
        cursor: pointer;
    }

    .leftcol, .rightcol {
        flex: 1;

        div {
            margin-bottom: 10px;

            label, input {
                width: 100%;
            }

            input {
                margin-top: 5px;
            }
        }

        button {
            float: right;
            background: #fff;
            border: 1px solid #232d42;
            color: #232d42;
            font-size: 9px;
            padding: 2% 4%;
            margin-top: 3%;
        }
    }

    .leftcol {
        .subdomain-detail {

            .subdomain-status {
                position: relative;

                i {
                    margin-left: 4px;
                    align-self: center;
                    cursor: pointer;
                    position: absolute;
                    right: -19px;
                    bottom: 5px;
                }
            }
        }
    }
}

footer {
    border-top: 2px solid #e3e5e8;
    position: absolute;
    width: 94%;
    bottom: 0;
    display: flex;
    justify-content: right;
    padding: 2% 4% 2% 2%;
    gap: 5px;

    button {
        font-size: 9px;
        padding: 1.5% 4%;
        cursor: pointer;
        border-radius: 4px;
    }

    .close {
        background: #fff;
        border: 1px solid #e3e5e8;
        color: #232d42;
    }

    .save {
        background: #5b7cfd;
        border: 1px solid #5b7cfd;
        color: #fff;
    }
}